<div #viewport class="blox-snippet-page">
  <header [mdcTopAppBar]="'default'" [viewport]="viewport" [fixedAdjust]="fixedAdjust">
    <div mdcTopAppBarRow>
      <section mdcTopAppBarSection alignStart>
        <a href="javascript:void(0)" mdcTopAppBarNavIcon mdcIconButton class="material-icons">menu</a>
        <span mdcTopAppBarTitle>Toolbar</span>
      </section>
      <section mdcTopAppBarSection alignEnd>
        <a href="javascript:void(0)" mdcTopAppBarAction mdcIconButton class="material-icons" label="Download">file_download</a>
        <a href="javascript:void(0)" mdcTopAppBarAction mdcIconButton class="material-icons" label="Print this page">print</a>
        <a href="javascript:void(0)" mdcTopAppBarAction mdcIconButton class="material-icons" label="Bookmark this page">more_vert</a>
      </section>

    </div>

  </header>
  <main #fixedAdjust>
    <div class="simulator">
      <div class="session-toolbar">
        <button mdcButton (click)="connect()">Connect</button>
        <button mdcButton (click)="disconnect()">Disconnect</button>
        <button mdcButton (click)="sendOrder()">Send Order</button>
      </div>
      <div class="session-container">
        <div class="order-and-fix-fields">
          <div class="order-blotter">
            <ag-grid-angular
              style="width: 100%; height: 100%;"
              class="ag-theme-alpine"
              [rowData]="rowData"
              [columnDefs]="columnDefs"
              rowSelection="single"
              (gridReady)="sizeColumns($event)"
              (gridSizeChanged)="sizeColumns($event)"

            >
            </ag-grid-angular>
          </div>
          <div class="fix-fields">

          </div>
        </div>
        <div class="fix-events-container">
          <div class="fix-events">
            <!--p *ngFor="let message of messages">{{message}}</p-->
            <app-fix-events [rowData]="fixEvents" [rowUpdated]="fixEventsSubject.asObservable()"></app-fix-events>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<!--mdc-top-app-bar short [scrollTarget]="mainContent">
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="start" title="App">
      <button mdcTopAppBarNavIcon>
        <mdc-icon>menu</mdc-icon>
      </button>
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section align="end">
      <mdc-icon mdcTopAppBarActionItem>file_download</mdc-icon>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>
<div #mainContent class="mainContainer">
  <p>Hello Worlds</p>
  <button mdc-button primary (click)="connect()">Connect</button>
  <button mdc-button primary>Disconnect</button>
</div-->
